body{
    background-color: rgb(255, 255, 255);
}
.sriracha-regular {
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
  }
.round2 {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 5px;
  }